body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.abt-img {
  /* max-width: 19rem; */
  /* width: 23rem; */
  overflow: hidden;
  
}

.abt-img-container {
  max-height: 28.7rem;
  /* align-content: flex-end; */
}
.elvies-img {
  /* align-self: flex-end; */
  height: 28.7rem;
  /* width: 100%; */
}

.navbar {
  background-color: rgba(255,255,255,0.75);
}

  .banner {
    text-transform: capitalize;
    /* background-image: url("../public/assets/images/coffeeSpillWide.jpg"); */
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
  }
  .bg-image .shade {
    text-shadow:2px 2px #333;
  }

  .blog h3 {
    color: #343a40;
    font-size: calc(100% + .75vw + .75vh);

  }
  .blog p {
    color: black;
    font-size: calc(100% + .25vw);
  }